<?xml version="1.0"?>
<model>
  <name>work_table</name>
  <version>0.1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Omar Khedr</name>
    <email>omar.khedr@gu.edu.eg</email>
  </author>
  <description>Static laboratory work table for peg-in-hole assembly experiments.</description>
</model>
