<?xml version="1.0"?>
<model>
  <name>target_plate</name>
  <version>0.1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Omar Khedr</name>
    <email>omar.khedr@gu.edu.eg</email>
  </author>
  <description>Target plate with 0.016 m nominal hole radius and 0.02 m thickness.</description>
</model>
