<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="lbr_iisy6_r1300_research_gripper">
  <xacro:include filename="$(find kuka_lbr_iisy_support)/urdf/lbr_iisy6_r1300_macro.xacro"/>
  <xacro:include filename="$(find kuka_lbr_iisy_support)/urdf/lbr_iisy_ros2_control_macro.xacro"/>
  <xacro:include filename="research_parallel_gripper.xacro"/>

  <xacro:arg name="driver_version" default="rsi_only"/>
  <xacro:arg name="mode" default="hardware"/>
  <xacro:arg name="use_gpio" default="false"/>
  <xacro:arg name="roundtrip_time" default="0"/>
  <xacro:arg name="client_ip" default="0.0.0.0"/>
  <xacro:arg name="client_port" default="59152"/>
  <xacro:arg name="mxa_client_port" default="1336"/>
  <xacro:arg name="controller_ip" default="0.0.0.0"/>
  <xacro:arg name="verify_robot_model" default="true"/>
  <xacro:arg name="qos_config_file" default=""/>
  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="x" default="0"/>
  <xacro:arg name="y" default="0"/>
  <xacro:arg name="z" default="0"/>
  <xacro:arg name="roll" default="0"/>
  <xacro:arg name="pitch" default="0"/>
  <xacro:arg name="yaw" default="0"/>
  <xacro:arg name="initial_joint_1" default="0.0"/>
  <xacro:arg name="initial_joint_2" default="-0.8"/>
  <xacro:arg name="initial_joint_3" default="1.2"/>
  <xacro:arg name="initial_joint_4" default="0.0"/>
  <xacro:arg name="initial_joint_5" default="0.8"/>
  <xacro:arg name="initial_joint_6" default="0.0"/>
  <xacro:arg name="include_camera" default="true"/>

  <xacro:kuka_lbr_iisy_ros2_control name="$(arg prefix)lbr_iisy6_r1300"
    driver_version="$(arg driver_version)"
    client_ip="$(arg client_ip)"
    client_port="$(arg client_port)"
    mxa_client_port="$(arg mxa_client_port)"
    controller_ip="$(arg controller_ip)"
    prefix="$(arg prefix)"
    mode="$(arg mode)"
    use_gpio="$(arg use_gpio)"
    roundtrip_time="$(arg roundtrip_time)"
    verify_robot_model="$(arg verify_robot_model)"
    qos_config_file="$(arg qos_config_file)"
    initial_joint_1="$(arg initial_joint_1)"
    initial_joint_2="$(arg initial_joint_2)"
    initial_joint_3="$(arg initial_joint_3)"
    initial_joint_4="$(arg initial_joint_4)"
    initial_joint_5="$(arg initial_joint_5)"
    initial_joint_6="$(arg initial_joint_6)">
    <ext_axes_ros2_control_joints/>
  </xacro:kuka_lbr_iisy_ros2_control>

  <link name="world"/>

  <xacro:kuka_lbr_iisy6_r1300_robot prefix="$(arg prefix)" package_name="kuka_lbr_iisy_support"/>

  <!-- FT sensor between flange and gripper -->
  <link name="$(arg prefix)ft_sensor_link">
    <visual>
      <geometry><cylinder radius="0.025" length="0.01"/></geometry>
      <material name="dark_gray"><color rgba="0.3 0.3 0.3 1"/></material>
    </visual>
    <collision>
      <geometry><cylinder radius="0.025" length="0.01"/></geometry>
    </collision>
    <inertial>
      <mass value="0.1"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.00002" ixy="0" ixz="0" iyy="0.00002" iyz="0" izz="0.00003"/>
    </inertial>
  </link>
  <joint name="$(arg prefix)ft_sensor_joint" type="revolute">
    <parent link="$(arg prefix)flange"/>
    <child link="$(arg prefix)ft_sensor_link"/>
    <origin xyz="0 0 0.005" rpy="0 0 0"/>
    <limit effort="1" lower="0" upper="0" velocity="0"/>
    <axis xyz="1 0 0"/>
    <dynamics damping="1" friction="0"/>
  </joint>

  <xacro:research_parallel_gripper prefix="$(arg prefix)" parent_link="$(arg prefix)ft_sensor_link" tcp_frame="gripper_tcp" has_peg="true"/>

  <xacro:if value="$(arg include_camera)">
    <link name="d405_camera_link">
      <visual>
        <geometry><box size="0.03 0.025 0.02"/></geometry>
        <material name="camera_dark"><color rgba="0.05 0.05 0.05 1"/></material>
      </visual>
    </link>
    <joint name="world_to_d405_camera" type="fixed">
      <parent link="world"/>
      <child link="d405_camera_link"/>
      <origin xyz="0.42 -0.55 1.18" rpy="0.95 0 0.35"/>
    </joint>
    <link name="d405_camera_optical_frame"/>
    <joint name="d405_camera_link_to_optical" type="fixed">
      <parent link="d405_camera_link"/>
      <child link="d405_camera_optical_frame"/>
      <origin xyz="0 0 0" rpy="-1.5708 0 -1.5708"/>
    </joint>
  </xacro:if>

  <joint name="$(arg prefix)world-base_link" type="fixed">
    <parent link="world"/>
    <child link="$(arg prefix)base_link"/>
    <origin xyz="$(arg x) $(arg y) $(arg z)" rpy="$(arg roll) $(arg pitch) $(arg yaw)"/>
  </joint>
</robot>
