<?xml version="1.0"?>
<model>
  <name>contact_validation_pad</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Omar Khedr</name>
    <email>omar.khedr@gu.edu.eg</email>
  </author>
  <description>
    Small instrumented pad used only by the Research Baseline v0.4 contact
    validation world.
  </description>
</model>
