<?xml version="1.0"?>
<model>
  <name>cylindrical_peg</name>
  <version>0.1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Omar Khedr</name>
    <email>omar.khedr@gu.edu.eg</email>
  </author>
  <description>Cylindrical peg for insertion experiments, radius 0.015 m and length 0.08 m.</description>
</model>
