<?xml version="1.0"?>
<model>
  <name>hole_fixture</name>
  <version>0.1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Omar Khedr</name>
    <email>omar.khedr@gu.edu.eg</email>
  </author>
  <description>Static fixture block supporting the target plate and nominal hole frame.</description>
</model>
